@model IEnumerable<U5_W3_D1.Models.Ordini>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center display-4 mb-5 fw-bold text-light" style="margin-top:100px;">Gestione ordini</h2>


<div id="orderDetails"></div>

<div class="container p-3 mt-5 box-color" >
    @foreach (var item in Model)
    {
        <div class="row mb-5 text-center mb-md-3 align-items-center border rounded bg-light text-black shadow mx-4 mx-sm-0">
            <div class="col-12 text-center col-md-1 py-1 py-md-2">
                <span class="text-secondary">N.</span> @Html.DisplayFor(modelItem => item.idOrdine)
            </div>
            @{
                var dataOrdine = item.DataOrdine.Date;
                var oggi = DateTime.Today;
                var ieri = DateTime.Today.AddDays(-1);
            }
            <div class="col-12 text-center col-md-3 py-0 py-md-2">
                <span class="me-2">
                    @if (dataOrdine == oggi)
                    {
                        @:Oggi
                    }
                    else if (dataOrdine == ieri)
                    {
                        @:Ieri
                    }
                    else
                    {
                        @item.DataOrdine.ToString("dd/MM/yyyy")
                    }
                </span>
                <span>@item.DataOrdine.ToString("HH:mm")</span>
            </div>
            <div class="col-12 text-center col-md-3 py-0 py-md-2">
                @item.Utenti.Nome @item.Utenti.Cognome
            </div>
            <div class="col-12 text-center col-md-1 py-0 py-md-2">
                @Html.DisplayFor(modelItem => item.Totale)€
            </div>
            <div class="col-12 text-center col-md-1 py-0 py-md-2">
                @if (item.isEvaso == false)
                {
                    <span class="badge bg-danger">Non evaso</span>
                }
                else
                {
                    <span class="badge bg-success">Evaso</span>
                }
            </div>
            <div class="col-12 col-md-3 py-2  text-center text-md-end">
                @Html.ActionLink(" ", "Details", new { id = item.idOrdine }, new { @class = "bi bi-list btn btn-secondary rounded-1 ms-2 w-25", @onclick = "loadOrderDetails(" + item.idOrdine + "); return false;" })
                @if (item.isEvaso == false)
                {
                    @Html.ActionLink(" ", "isEvaso", new { id = item.idOrdine }, new { @class = "bi bi-arrow-bar-right btn btn-success rounded-1 w-25" })
                }
                else
                {
                    @Html.ActionLink(" ", "isntEvaso", new { id = item.idOrdine }, new { @class = "bi bi-x-lg btn btn-warning rounded-1 w-25" })
                }
            </div>
        </div>
    }
    <div class="mt-2 text-center d-flex flex-column align-items-center">

        @Html.ActionLink(" Visualizza Totale Ordini Evasi ", "GetNumeroOrdini", new { }, new { @class = " btn btn-warning rounded-1 mt-5 mb-2 w-25", @onclick = "totalOrders(); return false;" })
        <p id="totalOrders" class="fs-3 mb-5"></p>

        <input type="date" id="date" class="form-control w-25 mt-5" />
        <button class="btn btn-warning mt-2 mb-2" onclick="getRevenueForDay(document.getElementById('date').value)">Visualizza Incasso</button>
        <p id="totPerGiorno" class="fs-3 mb-5"></p>

    </div>
</div>



<script>

    function totalOrders() {
        $.ajax({
            url: '@Url.Action("GetNumeroOrdini", "Ordini")',
            type: 'GET',
            success: function (data) {
                $('#totalOrders').text('Ordini evasi: ' + data);
            },
            error: function () {
                $('#totalOrders').text('Error retrieving total orders.');
            }
        });
    }

    function getRevenueForDay(date) {
    $.ajax({
        url: '@Url.Action("IncassatoGiorno", "Ordini")',
        type: 'GET',
        data: { data: date },
        success: function (data) {
            // Display the revenue in the console or update the UI as needed
            console.log('Revenue for ' + date + ': ' + data);
$('#totPerGiorno').text('Incasso per il giorno ' + date + ': ' + data + '€');
        },
        error: function () {
            console.log('Error retrieving revenue for ' + date);
        }
    });
}


    function loadOrderDetails(orderId) {
        $.get('@Url.Action("Details", "Ordini")', { id: orderId }, function (data) {
            $('#orderDetails').html(data);
        });
    }
</script>