@model IEnumerable<U5_W3_D1.Models.Prodotti>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center display-4 mb-5 fw-bold text-light" style="margin-top:100px" ;>Le Nostre Pizze</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Aggiungi Nuovo Prodotto", "Create", new { }, new { @class = "btn btn-warning bg-gradient" })
    </p>
}

<div class="row g-3">
    @foreach (var item in Model)
    {
        <div class="col-12 col-md-10 offset-md-1">
            <div class="card h-100 overflow-hidden shadow box-color">
                <img src="/content/img/@Html.DisplayFor(modelItem => item.Foto)" class="card-img-top" alt="@Html.DisplayNameFor(model => model.Foto)">

                @using (Html.BeginForm("AddToCart", "Prodotti", FormMethod.Post))
                {
                    <div class="card-body text-center">
                        <h5 class="card-title fs-3">@Html.DisplayFor(modelItem => item.Nome)</h5>
                        <hr />
                        <p class="card-text overflow-hidden fs-5"><strong>Ingredienti: </strong>@Html.DisplayFor(modelItem => item.Ingredienti)</p>
                        <p class="car-text"><strong>Tempo di preparazione: </strong>@Html.DisplayFor(modelItem => item.Consegna.Minutes) Minuti</p>
                        <hr />
                        <div class="card-text d-flex justify-content-between">
                            <div class="d-flex justify-content-start mb-3">
                                <input type="submit" value="Aggiunti al Tuo Ordine +" class="btn btn-success" />
                            </div>
                            <input type="hidden" name="id" value="@item.idProdotto" />

                            <label for="quantita" class="">Quantit&agrave;: <input class="h-50" type="number" name="quantita" id="quantita" value="1" min="1" max="30"></label>

                            <p class="card-text">@Html.DisplayFor(modelItem => item.Prezzo) €</p>
                        </div>
                    </div>
                    if (User.IsInRole("Admin"))
                    {
                        <div class="d-flex justify-content-center mx-5 mb-3 ">
                            @Html.ActionLink("Modifica", "Edit", new { id = item.idProdotto }, new { @class = "btn btn-warning mx-2" })
                            @Html.ActionLink("Elimina", "Delete", new { id = item.idProdotto }, new { @class = "btn btn-danger mx-2" })
                        </div>
                    }


                }
            </div>
        </div>
    }
</div>


@if (TempData["Message"] != null)
{
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
                    toastr.success('@TempData["Message"]');
    </script>

}